* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #C7C7C7;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
  margin-bottom: 2px;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
}

h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 10px;
}

span {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

header {
  height: 50px;
  padding: 5px 30px;
  background-color: black;
}

select {
  width: 300px;
  height: 40px;
  color: black;
  font-size: 20px;
}

main {
  height: calc(100vh - 50px);
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px 20px;
}

.box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  width: 200px;
  margin: 10px 15px;
  padding: 10px;
  text-align: center;
  background-color: #121212;
}

.box-info img {
  max-height: 65%;
  padding-bottom: 15px;
}
